body#darkmode{
    background: var(--main-background-dark);
}
body#darkmode .add-task{
    background: var(--black-float-dark);
}
body#darkmode 
nav > .brand a{
    color: var(--brand-dark);
}
body#darkmode
form > .field > textarea, 
body#darkmode 
form > .field > input{
    color: var(--white);
    background: var(--main-background-dark);
}