*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red: red;
    --white: #fff;
    --yellow: yellow;
    --primary-coral: coral;
    --primary-green: green;
    --green: rgb(23, 150, 23);
    --border: rgb(20, 141, 175);
    --red-hover: rgb(147, 4, 4);
    --primary: rgb(7, 111, 202);
    --blue-hover: rgb(32, 85, 171);
    --green-hover: rgb(23, 109, 23);
    --brand-dark: rgb(91, 153, 201);
    --primary-blue: rgb(7, 111, 202);
    --primary-pink: rgb(210, 74, 176);
    --main-background: rgb(239, 242, 244);
    --main-background-dark: rgb(13, 46, 68);
    --black-float: rgba(177, 207, 227, .6);
    --diluated-white: rgba(255, 255, 255, 0.7);
    --primary-violet: rgba(126, 42, 149, 0.891);
    --black-float-dark: rgba(19, 106, 164, 0.6);
    --box_shadow_list: .25px 1px 6px rgba(0, 0, 0, .3);
	--floating_box_shadow: 2px 3px 15px rgba(0, 0, 0, 0.7);
}


@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}

body.pink{
    --primary: var(--primary-pink);
    --black-float-dark: rgba(177, 75, 174, 0.6);
    --main-background-dark: rgb(112, 7, 114);
}

body.coral{
    --primary: var(--primary-coral);
    --black-float-dark: rgba(167, 133, 83, 0.545);
    --main-background-dark: rgb(101, 49, 4);
}

body.violet{
    --primary: var(--primary-violet);
    --black-float-dark: rgba(125, 19, 164, 0.6);
    --main-background-dark: rgb(53, 13, 68);
}
body.green{
    --primary: var(--primary-green);
    --black-float-dark: rgba(2, 70, 39, 0.6);
    --main-background-dark: rgb(13, 68, 40);
}
body.blue{
    --primary: var(--primary-blue);
    --black-float-dark: rgba(19, 106, 164, 0.6);
    --main-background-dark: rgb(13, 46, 68);
}