body{
    background: var(--main-background);
}
main{
    width: 100vw;
    height: calc(100vh - 50px);
}
header{
    height: 50px;
}
nav{
    display: flex;
    padding: .5em 1em;
}
nav > .brand{
    width: calc(100% - (25px));
	font-size: 1.7rem;
	font-weight: 700;
    font-family: system-ui, -apple-system, 
                    BlinkMacSystemFont, 'Segoe UI',
                    Roboto, Oxygen, Ubuntu, Cantarell, 
                    'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > .brand a{
    text-decoration: none;
    color: var(--primary);
}
nav > span{
	background: var(--primary);
	height: 25px;
	width: 25px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
    cursor: pointer;
    padding: .85em;
    font-size: 20px; 
	color: var(--white);
}
nav > span:hover{
    background: var(--blue-hover);
}
.container{
	display: flex;
	justify-content: space-around;
}

.list{
    padding-top: 10px;
    border-radius: 20px;
    padding: 10px 1em;
    color: var(--white);
    display: flex;
    max-height: calc(100vh - 60px);
    flex-direction: column;
	background: var(--primary);
	box-shadow: var(--box_shadow_list);
    overflow-y: scroll;
}
.list::-webkit-scrollbar{
    overflow: hidden;
    width: 10px;
}
.list::-webkit-scrollbar-thumb{
    background: var(--white);
    width: 1px;
    border-radius: 10px;
}
.list > h1{
    margin-bottom: 10px;
    text-align: center;
}
.list > article{
    box-sizing: content-box;
    padding: 1em 1em;
    cursor: pointer;
    max-width: 270px;
    display: flex;
    z-index: 6;
    align-items: center;
    border: 1px solid var(--white);
    border-radius: 10px;
    white-space: nowrap;
}
.list > article > .title{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
    margin: 0px 5px;
}
.list > article > .title:hover{
    color: var(--yellow);
    font-weight: 900;
}
.list > article .trash{
    background: var(--red);
    padding: 10px 12px;
    border-radius: 7.5px;
}
.list > article .trash:hover {
    background: var(--red-hover);
}
.list > article.waddle{
    animation: waddle 1s infinite;
    border: 2px solid var(--yellow);
}
.list > article > span.do{
    text-decoration:line-through;
}

@keyframes waddle {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(2.5px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-2.5px);
    }
    100% {
        transform: translateX(0px);
    }
}
.separator{
    height: 10px;
    pointer-events: none;
}
.separator:hover, .separator.drop{
    height: 30px;
}

.hide{
    visibility: hidden;
}
.show{
    display: unset;
}
.load{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: calc(100vw - 0px);
    height: calc(100vh);
    z-index: 888;
    color: var(--primary) !important;
}
.loader {
    border: 16px solid #bfd5f0;
    border-top: 16px solid var(--primary);
    border-bottom: 16px solid var(--primary);
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
    height: 120px;
    animation: spin 2s linear infinite;
}
.load > h3{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px 5px;
}
.load > p{
    margin: 5px 0;
    font-size: 21px;
}